---
import dotGridWhite from '@/assets/images/dot-grid-white.png';
import type { NavbarLink } from '@/components/Navbar';
import { Navbar } from '@/components/Navbar';
import type { NavMenuProps } from '@/components/Navbar/components';
import Footer from '@/components/pageSpecific/home/sections/Footer/Footer.astro';
import { i18next, t } from '@/utils';
import '@fontsource-variable/fira-code';
import '@fontsource/fira-sans';

import { getImage } from 'astro:assets';

export type MainLayoutProps = {
  title?: string;
  description?: string;
};
type Props = MainLayoutProps;

const LINKS: NavbarLink[] = [
  {
    label: 'Home',
    href: '/',
  },
  {
    label: 'Projects',
    href: '/projects',
  },
];

const { title, description = t('site.description') } = Astro.props;

const pageTitle = title ? `${title} | William He` : t('site.title');
const optimizedBackgroundImage = await getImage({
  src: dotGridWhite,
  quality: 70,
});
const links: NavbarLink[] = LINKS.map((link) => ({
  ...link,
  isCurrentPage: Astro.url.pathname === link.href,
}));
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />
  </head>

  <body
    class:list={[
      'bg-body-bg',
      'font-sans',
      'bg-repeat',
      'scroll-smooth',
      'text-base',
      'md:text-lg',
      'text-secondary',
    ]}
    style={`background-image: url('${optimizedBackgroundImage.src}')`}
  >
    <div class:list={['flex', 'relative', 'w-full', 'md:justify-end']}>
      <div
        class:list={[
          'w-screen',
          'md:w-auto',
          'md:h-screen',
          'fixed',
          'z-50',
          'top-0',
          'left-0',
        ]}
      >
        <Navbar client:load links={links} />
      </div>

      <div
        class:list={[
          'w-full',
          'pt-[calc(1rem+36px)]',
          'md:pt-0',
          'md:pl-[calc(1rem+36px)]',
        ]}
      >
        <slot name="outer" />

        <div
          class:list={[
            'flex',
            'flex-col',
            'px-5',
            'gap-20',
            'w-full',
            'max-w-screen-xl',
            'mx-auto',
            'mb-20',
            'min-h-screen',
          ]}
        >
          <slot />
        </div>

        <Footer links={LINKS} />
      </div>
    </div>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
