---
import MainLayout from '@/layouts/MainLayout.astro';
import type { GetStaticPaths } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection, render } from 'astro:content';

type Props = CollectionEntry<'portfolio'>;

export const getStaticPaths: GetStaticPaths = async () => {
  const portfolioEntries = await getCollection('portfolio');

  return portfolioEntries.map((entry) => ({
    params: { id: entry.id },
    props: entry,
  }));
};

const { data } = Astro.props;
const { description, desktop, mobile, name, stack, tablet, visitUrl } = data;
const { Content } = await render(Astro.props);
---

<MainLayout title={name} description={description}>
  <div slot="outer" class:list={['grid', 'grid-cols-3', 'gap-2', 'w-full']}>
    <img
      class:list={['shadow-lg', 'col-span-1', 'object-cover', 'h-48', 'w-full']}
      src={mobile.src}
      alt={`Mobile screenshot of ${name}`}
    />

    {
      !!tablet && (
        <img
          class:list={[
            'shadow-lg',
            'col-span-2',
            'object-cover',
            'h-48',
            'w-full',
          ]}
          src={tablet.src}
          alt={`Tablet screenshot of ${name}`}
        />
      )
    }

    {
      !!desktop && (
        <img
          class:list={[
            'shadow-lg',
            'col-span-3',
            'object-cover',
            'h-48',
            'w-full',
          ]}
          src={desktop.src}
          alt={`Desktop screenshot of ${name}`}
        />
      )
    }
  </div>

  <div class:list={['flex', 'flex-col', 'gap-8', 'pt-10']}>
    <div class:list={['flex', 'flex-col']}>
      <h1 class:list={['text-6xl', 'text-accent-1']}>{name}</h1>
      <h2 class:list={['text-2xl', 'font-mono', 'text-tertiary']}>
        {stack.join(', ')}
      </h2>
    </div>

    <div class:list={['flex', 'flex-col', 'gap-5']}>
      {
        !!visitUrl && (
          <a href={visitUrl} class:list={['button']}>
            Visit {name}
          </a>
        )
      }

      <Content />
    </div>
  </div>
</MainLayout>
